@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(to bottom, #000000, #17011b); 
  color: #ffffff; 
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom, #000000, #030724); 
    color: #ffffff; 
  }
  #footer_test {
    background: linear-gradient(to bottom, #000000, #030724); 
    color: #ffffff; 
  }
  #credito{
    background: linear-gradient(to bottom, #000000, #030724); 
    color: #ffffff; 
  }
  #about{
    background: linear-gradient(to bottom, #000000, #020411); 

    color:white;
  }
 
}


