@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Estilos predeterminados para el tema claro */
/* Estilos predeterminados para el tema claro */
body {
  background: linear-gradient(to bottom, #ffffff, #330033); /* Degradado de blanco a morado oscuro */
  color: #000000; /* Texto negro */
}

/* Estilos para el tema oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom, #000000, #4b0082); /* Degradado de negro a morado oscuro en modo oscuro */
    color: #ffffff; /* Texto blanco */
  }
}


/* Otros estilos, como tipografía, márgenes, etc., pueden agregarse según sea necesario */
